@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    }
}

:root {
    --swiper-scrollbar-sides-offset: 0%;
}

::selection {
    background: #69306d;
    color: #fff;
}

.select-white::selection {
    background: #fff;
    color: #69306d;
}

.bg-checkered {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23e7e5e4' d='M0 0h8v8H0zm8 8h8v8H8z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
}

.hero {
    background-image: url('/images/media-plugin-hero.png');
    background-size: cover;
}
